version: "3.9"
services:
  web:
    build: .
    ports:
      - "3000:3000"
    environment:
      - "CONNECTION_STRING= ADDINFOHERE"
    volumes:
      - sdc:/app
  db:
    image: postgres
    ports:
      - "5432:5432"
    volumes:
      - sdc:/data/postgres
    environment:
      - POSTGRES_USER= ADDINFOHERE
      - POSTGRES_PASSWORD= ADDINFOHERE
      - POSTGRES_DB= ADDINFOHERE
  pgadmin:
    image: dpage/pgadmin4
    ports:
      - "5555:80"
    environment:
      - "PGADMIN_DEFAULT_EMAIL=  ADDINFOHERE "
      - "PGADMIN_DEFAULT_PASSWORD= ADDINFOHERE "
    volumes:
      - sdc:/pgadmin
volumes:
  sdc:
